<div class="container-password-page">
  <div class="back-container-password">
    <div class="back-password">
      {{{buttonBack}}}
    </div>
  </div>
  <div class="user-info-container">
    <div>
      {{{userAvatar}}}
    </div>
    {{{form}}}
  </div>
  {{{modal}}}
</div>