<div class="container-password-page">
  <div class="back-container">
    <div class="back">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  </div>
  <div class="user-info-container">
    <div class="user-avatar-container">
      <div class="user-avatar">
        <input
          class="file-upload"
          type="file"
          id="file-upload"
          onchange="handleFileUpload(event)"
        />
      </div>
    </div>
    {{{form}}}
  </div>
</div>