<div class="container-register">
  <form class="login-form">
    <h1>{{title}}</h1>
    {{#each input}}
      {{{this}}}
    {{/each}}
    <div class="button-container">
      {{{buttonSubmit}}}
      {{{buttonCreate}}}
    </div>
  </form>
</div>