@import url("../../styles/colors.css");

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 80%;
  margin-bottom: 10px;
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-white-color);

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.secondary {
  background-color: var(--background-color-transparent);

  &:hover {
    background-color: var(--secondary-button-hover-color);
  }
}
