@import url("../../styles/colors.css");

.container-500 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .data-container {
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .text-container {
      text-align: center;

      h1 {
        font-size: 72px;
      }

      h4 {
        font-size: 30px;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
