<div class="container">
  <div class="dataContainer">
    <div class="textContainer">
      <h1>{{codeError}}</h1>
      <h4>{{description}}</h4>
    </div>
    <div class="buttonContainer primaryText">
      {{{button}}}
    </div>
  </div>
</div>