@import url("../../styles/colors.css");

.info-row-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-top: 10px;
  border-bottom: 1px solid var(--border-menu-color);

  span {
    font-size: 17px;
  }

  .info-name {
    font-weight: bold;
  }

  .info-data {
    color: var(--text-menu-color);
  }

  .info-input {
    border: none;
    outline: none;
    text-align: right;
    color: var(--text-menu-color);

    &:focus {
      color: var(--text-black-color);
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;

    .error-message {
      color: var(--red-color);
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
