<div class="container">
  <form class="loginForm">
    <h1>Вход</h1>
    {{{inputLogin}}}
    {{{inputPassword}}}
    <div class="buttonContainer">
      {{{buttonSubmit}}}
      {{{buttonCreate}}}
    </div>
  </form>
</div>