{{#> layout/layout }}
<link rel="stylesheet" href="/src/partials/userProfileLayout/userProfileLayout.css" />
<div class="container">
  <div class="backContainer">
    <div class="back">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  </div>
  <div class="userInfoContainer">
    <div class="userAvatarContainer">
    <div class="userAvatar">
      <input class="fileUpload" type="file" id="fileUpload" onchange="handleFileUpload(event)" />
    </div>
    </div>
    {{> @partial-block}}
  </div>
</div>
{{/ layout/layout}}
