<div class="messageContainer">
  <div class="avatarContainer">
    <div class="avatar"></div>
  </div>
  <div class="messageDataContainer">
    <div class="userName">{{name}}</div>
    <div class="userMessage">
      {{lastMessageText}}
    </div>
  </div>
  <div class="dateContainer">
    <div class="dateText">{{lastMessageDate}}</div>
    <div class="messageCount">{{countUnreadMessage}}</div>
  </div>
</div>