<div class="message-container{{#if isSelect}} selected{{/if}}">
  <div class="avatar-container">
    <div class="avatar"></div>
  </div>
  <div class="message-data-container">
    <div class="user-name">{{title}}</div>
    <div class="user-message">
      {{last_message}}
    </div>
  </div>
  <div class="date-container">
    <div class="date-text">{{lastMessageDate}}</div>
    <div class="message-count">{{unread_count}}</div>
  </div>
</div>