<div class="upload-avatar-container">
  <label class="upload-avatar-label">
    <input
      type="file"
      class="upload-avatar-input"
      accept="image/jpeg, image/jpg, image/png, image/gif, image/webp"
    />
    <span class="upload-avatar-text">{{fileName}}</span>
  </label
</div>