@import url("../../styles/colors.css");
@import url("../../styles/styles.css");

.upload-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.upload-avatar-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.upload-avatar-label:hover {
  background-color: var(--primary-dark-color);
}

.upload-avatar-input {
  display: none;
}

.upload-avatar-text {
  font-weight: bold;
}
