<link rel="stylesheet" href="/src/components/formInput/formInput.css" />
<div class="inputContainer">
  <input class="loginInput" name="{{name}}" type="{{type}}" placeholder=" " />
  <label class="inputLabel">{{placeholder}}</label>
</div>
