@import "../../styles/colors.css";

.inputContainer {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  .loginInput {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;

    &:focus + .inputLabel,
    &:not(:placeholder-shown) + .inputLabel {
      top: 0;
      transform: translateY(-100%);
      font-size: 12px;
      color: var(--text-color);
      background: var(--background-color-transparent);
    }
  }

  .inputLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
    background: var(--background-color);
    padding: 0 5px;
    pointer-events: none;
    color: var(--placeholder-color);
  }
}
