<div class="listChatContainer">
  <div class="toolsContainer">
    <div class="profileContainer">
      <button>Профиль</button>
    </div>
    <div class="searchContainer">
      <input class="loginInput" name="search" type="text" placeholder="Поиск" />
    </div>
  </div>
  <div class="messagesContainer">
    <div class="messageContainer">
      <div class="avatarContainer">
        <div class="avatar"></div>
      </div>
      <div class="messageDataContainer">
        <div class="userName">Имя пользователя</div>
        <div class="userMessage">
          Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение
          Сообщение Сообщение Сообщение Сообщение Сообщение
        </div>
      </div>
      <div class="dateContainer">
        <div class="dateText">09.01.2025</div>
        <div class="messageCount">2</div>
      </div>
    </div>
    <div class="messageContainer">
      <div class="avatarContainer">
        <div class="avatar"></div>
      </div>
      <div class="messageDataContainer">
        <div class="userName">Имя пользователя</div>
        <div class="userMessage">
          Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение
          Сообщение Сообщение Сообщение Сообщение Сообщение
        </div>
      </div>
      <div class="dateContainer">
        <div class="dateText">09.01.2025</div>
        <div class="messageCount">2</div>
      </div>
    </div>
  </div>
</div>