<div class="list-chat-container">
  <div class="tools-container">
    <div class="profile-container">
      {{{chatMenu}}}
      {{{profile}}}
    </div>
    <div class="search-container">
      <input
        class="login-input"
        name="search"
        type="text"
        placeholder="Поиск"
      />
    </div>
  </div>
  <div class="messages-container">
    {{#each messagesCard}}
      {{{this}}}
    {{/each}}
  </div>
  {{{modal}}}
</div>