<div class="listChatContainer">
  <div class="toolsContainer">
    <div class="profileContainer">
      <button>Профиль</button>
    </div>
    <div class="searchContainer">
      <input class="loginInput" name="search" type="text" placeholder="Поиск" />
    </div>
  </div>
  <div class="messagesContainer">
    {{{messageCard}}}
  </div>
</div>