<div class="userName">Имя</div>
<form class="userInfo">
  <div>
    {{{infoRowOldPassword}}}
    {{{infoRowNewPassword}}}
    {{{infoRowNewPasswordRepeat}}}
  </div>
  <div class="buttonContainer">
    {{{buttonSave}}}
  </div>
</form>