@import "../../styles/colors.css";
@import "../../styles/styles.css";

.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.userName {
  font-size: 35px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
